.card {
  background-image: url('../../assets/Photo.png');
  background-color: white;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', sans-serif;
  height: 500px;
  width: 320px;
  color: #666666
}